@import url("http://fonts.cdnfonts.com/css/pokemon-fire-red");
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: "Pokemon Fire Red", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}