@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --white: #f7f7f7;
  --orange: #ffd369;
  --dark: #393e46;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}